{% extends 'dashboard.html' %}

{% block content %}
<br>
<head>
	<style>
		.row{
			margin : auto;
		}
	</style>
</head>
<div class="row">
	<div class="col-md-5">
		<h4>Open Rooms:</h4>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_room' %}">Create Room</a>
			<table class="table table-sm">
				<tr>
					<th>Rooms</th>
					<th>Join</th>
				</tr>

				{% for i in rooms %}
					<tr>
						<td>{{i.room_name}}</td>
						<td><a href = "{% url 'room' i.room_name %}">Join</a></td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>Friends</h5>
		<hr>
		<div class="card card-body">
			
			<table class="table table-sm">
				<tr>
					<th>Friend</th>
					<th>Status</th>
					<th>Join</th>
				</tr>
					<tr>
						<td>Billy Bob</td>
						<td>Online</td>
						<td><a href="">Join</a></td>
					</tr>
			</table>
		</div>
	</div>




{% endblock %}