{% extends 'dashboard.html' %}
{% load static %}
{% block content %}

<head>
    <style>
        
    </style>
</head>
<form method = "POST" action = "">
    {% csrf_token %}
    <div class="input-group mb-3">
        <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
        </div>

        <input type="text" name="Room" placeholder="Room Name" class="form-control">
    </div>
    <input type = "submit" value = "Join">
</form>



{% endblock %}